@import "../../palette.css";
@import "../../variables.css";

.container {
    display: flex;
    justify-content: flex-start;
    margin-left: 1%;
    margin-top: 2%;
}

.button {
    border: 0;
    background: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
    height: calc(15px + 2vh);
    border-radius: var(--border-radius-med);
    color: var(--light-input-color);
    font-size: var(--font-size-small);
}

.active {
    background-color: var(--vdark-bg-color);
}

.inactive {
    background-color: var(--dark-bg-color);
}